body {
  margin: 0 !important;
}
.add-offer {
  display: grid;
  grid-template-columns: 17% 83%;
}

.add-offer .body {
  padding: 1.5rem 2rem;
  background: #e5e5e5;
}
.add-offer .path {
  color: rgba(166, 166, 166, 1);
  font-size: 18px;
  margin-bottom: 1.5rem;
}
.add-offer .edit-offer-box {
  background: #ffffff;
  border-radius: 12px;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

.add-offer-flex {
  gap: 6.25rem;
}
.add-offer .combo-name-text {
  color: #334257;
  font-size: 1rem;
}

.add-offer .combo-name-inp {
  background: #ffffff;
  height: 54px;
  border: 1px solid #d0dbe9;
  border-radius: 8px;
  padding-left: 22px;
  margin-top: 0.5rem;
}

.add-offer .combo-name-inp:focus {
  box-shadow: none !important;
  border: 1px solid #d0dbe9;
}

.add-offer .combo-name-inp::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #a6a6a6;
}
.add-offer .add-combo-select-menu {
  margin-top: 1rem;
}

.form-select {
  height: 54px !important;
}
.form-select:focus {
  box-shadow: none !important;
  border: 1px solid #d0dbe9 !important;
}

.form-select .opt:hover {
  background: rgba(255, 138, 0, 0.22) !important;
}

.add-offer .add-combo-select-menu-text {
  font-size: 1rem;
  color: #334257;
  margin-bottom: 0.5rem;
}
.add-offer .dish-select option {
  background: #ffffff;
  height: 54px;
  border: 1px solid #d0dbe9;
  border-radius: 8px;
  color: #a6a6a6;
}

.add-offer .dish-select option {
  color: #454545 !important;
}
.add-offer .opt:hover {
  background: rgba(255, 138, 0, 0.12) !important;
  color: rgba(255, 138, 0, 1) !important;
}

.add-offer .description-inp {
  height: 124px;
  width: 100%;

  background: #ffffff;
  border: 1px solid #d0dbe9;
  border-radius: 8px;
  padding: 12px 22px;
}
.description-inp:focus {
  border: 1px solid #d0dbe9 !important;
  outline: #d0dbe9 !important ;
}

.add-offer .drop-upload {
  background-color: rgba(255, 138, 0, 0.22);
  text-align: center;
  height: 130px;
  border-radius: 10px;
  padding: 53px 0;
}

.add-offer .radio-container {
  box-sizing: border-box;
  background: #ffffff;
  color: #222;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.add-offer .radio-container * {
  box-sizing: border-box;
}

.add-offer .radio-input {
  appearance: none;
  background-color: #ffffff;
  width: 22px;
  height: 22px;
  border: 1px solid #cccfdb;
  margin: 0;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.add-offer .radio-input::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 51%;
  transform: scale(0);
  transition: 0.3s transform ease-in-out;
  box-shadow: inset 9px 6px #ffffff;
}

.add-offer .radio-input:checked {
  background: #ff8a00;
  border-color: #ff8a00;
}

.add-offer .radio-input:checked::before {
  transform: scale(1);
}

.add-offer .radio {
  cursor: pointer;
  padding: 6px 8px;
  font-size: 1rem;
  color: #334257;
}

.add-offer .radio:not(:last-child) {
  margin-right: 3.4rem;
}

.add-offer .submit-btn {
  width: 232px;
  height: 54px;

  border-radius: 8px;
}

.add-offer .cancel-btn {
  width: 232px;
  height: 54px;
  color: #7a7a7a;
  border: 1px solid #7a7a7a;
  border-radius: 8px;
}

.add-offer .btn-outer {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-top: 1.5rem;
}
.add-offer .date-inp {
  color: #a6a6a6;
  background: #ffffff;
  height: 54px;
  padding: 0 22px;
  border: 1px solid #d0dbe9;
  border-radius: 8px;
}

.add-offer .date-gap {
  gap: 20px;
}
@media screen and (max-width: 992px) {
  .d_none {
    display: none;
  }
  .add-offer {
    display: grid;
    grid-template-columns: 0 100%;
  }
}

@media screen and (max-width: 768px) {
  .add-offer .btn-outer {
    flex-wrap: wrap;
  }
  .add-offer .add-offer-flex {
    flex-wrap: wrap !important;
    gap: 1rem;
  }
}

@media screen and (max-width: 325px) {
  .add-offer .cancel-btn {
    width: 100%;
  }

  .add-offer .submit-btn {
    width: 100%;
  }
}
