body {
  margin: 0 !important;
  background-color: #e5e5e5 !important;
}
.dish-items {
  display: grid;
  grid-template-columns: 17% 83%;
}
.dish-items .body {
  background-color: #e5e5e5;
  padding: 1.5rem 2rem 10rem 2rem;
  overflow-y: scroll;
  max-height: 88vh;
}
.dish-items .add-dish-items-btn-outer {
  text-align: right;
  padding-bottom: 1.5rem;
}
.dish-items .btn-flx {
  flex-wrap: wrap;
}
.dish-items .dish-cteo {
  width: 33.9rem;
  border-radius: 6px !important;
  background-color: white;
  height: 3.3rem;
}
.dish-items .cat1 {
  background: white;
  width: 11.3rem;

  font-size: 20px;

  color: #a6a6a6;
}

.dish-items .add-dish-items-btn {
  width: 14.7rem;
  height: 3.3rem;
  left: 1171px;
  border-radius: 6px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.dish-items .add-dish-items-btn {
  color: white !important;
}
.dish-items .dish-items-box {
  background: hsl(0, 0%, 100%);
  width: 100%;
  border: 1px solid #e8f0fe;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
  max-height: 39.25rem;
}
.dish-items .dish-items-box-head {
  display: flex;
  justify-content: space-between;
  padding: 1.35rem 1.5rem;
  flex-wrap: wrap;
}
.dish-items .dish-items-box-head-text {
  font-weight: 600;
  font-size: 22px;
  color: #334257;
}
.dish-items .dish-items-box-head-inp-out {
  position: relative;
}

.dish-items .dish-items-box-head-inp-out img {
  position: absolute;
  top: 12px;
  right: 15px;
}
.dish-items .dish-items-box-head-inp {
  width: 15.5rem;
  height: 2.25rem;
  border: 1px solid #d6d6d6;
  border-radius: 32px;
  padding: 0 1.25rem;
}

.dish-items table {
  width: 96%;
  margin: 0 1.5rem;
  min-width: 683px;
}
.dish-items table th {
  font-weight: 500;
  font-size: 18px;
  color: #292929;
  width: 20%;
}

.dish-items table .tr1 {
  height: 3.4rem;
}
.dish-items table .tr2 {
  border-bottom: 1px solid #e8e8e8;
}
.dish-items .td2 {
  padding-top: 1.1rem;
  padding-bottom: 0.8rem;

  font-size: 18px;
  color: #454545;
}

.dish-items .action {
  display: flex;
  gap: 14px;
  padding-left: 3rem;
  justify-content: center;
}

.dish-items .action-img {
  width: 1.7rem;
}

.dish-items .dish-items-box .switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;
  top: 0.48rem;
}

.dish-items .dish-items-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dish-items .dish-items-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dish-items .dish-items-box .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dish-items .dish-items-box input:checked + .slider {
  background: #64c466;
}

.dish-items .dish-items-box input:focus + .slider {
  box-shadow: 0 0 1px #64c466;
}

.dish-items .dish-items-box input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(15px);
}

/* Rounded sliders */
.dish-items .dish-items-box .slider.round {
  border-radius: 34px;
}

.dish-items .slider.round:before {
  border-radius: 50%;
}

.dish-items .Showing-outer {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dish-items .Showing-text {
  font-weight: 400;
  font-size: 14px;

  color: #7a7a7a;
}

.dish-items .nav-out {
  display: flex;
  gap: 6px;

  align-items: center;
}

.dish-items .Showing {
  display: flex;
  gap: 10px;
}
.dish-items .Showing-no {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  padding: 5px 5px 5px 7px;
}
.dish-items .nav-out .no {
  width: 1.6rem;
  height: 1.6rem;

  font-size: 12px;
  text-align: center !important;
  padding: 0.2rem 0 !important;
  background: rgba(255, 138, 0, 0.08);
  border-radius: 4px;
}

.dish-items .back {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .dish-items .body {
    padding: 1.5rem 2rem 10rem 2rem;
    overflow-y: scroll;
    max-height: 80vh;
  }
}

@media screen and (max-width: 992px) {
  .d_none {
    display: none;
  }
  .dish-items {
    display: grid;
    grid-template-columns: 0 100%;
  }
  .dish-items .body {
    padding: 7.5rem 2rem 10rem 2rem;
    overflow-y: scroll;
    min-height: 120vh;
  }
  .dish-items .dish-items-box {
    overflow: auto;
  }
}
@media screen and (max-width: 840px) {
  .dish-items .add-dish-items-btn-outer {
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 622px) {
  .dish-items .dish-cteo,
  .dish-items .cat1 {
    width: 100%;
  }
}

@media screen and (max-width: 462px) {
  .dish-items .nav-out {
    margin-top: 10px;
  }
  .dish-items .cat1 {
    width: 120px !important;
  }
  .dish-items .add-dish-items-btn-outer {
    margin-top: 8.5rem;
  }
  .dish-items .dish-cteo {
    flex-direction: column;
    gap: 1rem;
    background: none;
  }
  .dish-items .body {
    padding: 7.5rem 2rem 10rem 2rem;
    overflow-y: scroll;
    max-height: 86vh;
  }
}

@media screen and (max-width: 400px) {
  .dish-items .nav-out {
    margin-left: -22px;
  }
}

@media screen and (max-width: 300px) {
  .dish-items .nav-out {
    margin-left: -36px;
  }
}
