body {
  background: #e5e5e5 !important;
}
.edit-engred {
  display: grid;
  grid-template-columns: 17% 83%;
}
.edit-engred .body {
  padding: 1.5rem 2rem !important;
  background: #e5e5e5;
  overflow-y: scroll;
  max-height: 88vh;
}

.edit-engred .path {
  color: #a6a6a6 !important;
  font-size: 18px;
  padding-bottom: 1.5rem;
}

.edit-engred .edit-engred-box {
  background: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
}
.edit-engred .slct-dish {
  color: #334257;
  padding-bottom: 0.5rem;
}

.edit-engred .dish-select {
  width: 30.375rem;
}

.edit-engred .dish-select:focus {
  box-shadow: none;
  border: 1px solid #d0dbe9;
}

.edit-engred .ingred-check {
  padding-top: 1rem;
}

.ingred-check-txt {
  color: #334257;
  padding-bottom: 18px;
}
.styled-checkbox:checked {
  background-color: #ff8a00 !important;
}

input[type="checkbox"] {
  position: relative;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.8em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  opacity: 0.5;
}

input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"]:checked {
  background-color: #ff8a00 !important;
  opacity: 1;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.edit-engred table {
  min-width: 714px;
}

.edit-engred .sub-btn {
  width: 232px;
  height: 54px;
  background: #ff8a00;
  border-radius: 8px;
}

.edit-engred .can-btn {
  width: 232px;
  height: 54px;
  border: 1px solid #7a7a7a;
  color: #7a7a7a;
  border-radius: 8px;
}
@media screen and (max-width: 992px) {
  .d_none {
    display: none;
  }
  .edit-engred {
    display: grid;
    grid-template-columns: 0 100%;
  }
  .edit-engred .ingred-check {
    overflow: scroll;
  }
  .edit-engred .body {
    padding: 7.5rem 1.5rem !important;
    background: #e5e5e5;
    overflow-y: scroll;
    max-height: 88vh;
  }
}

@media screen and (max-width: 768px) {
  .edit-engred .dish-select {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .edit-engred .body {
    padding: 7.5rem 0.5rem !important;
    overflow-y: scroll;
    max-height: 95vh;
  }
}
@media screen and (max-width: 350px) {
  .edit-engred .sub-btn {
    width: 100%;
  }

  .edit-engred .can-btn {
    width: 100%;
  }
}
