.forgotPass-pin .log-img {
  height: 100%;
  width: 100%;
}
.forgotPass-pin .welc-box {
  width: 32rem;
  height: 24.375rem;
  position: absolute;
  opacity: 0.88;
  top: 16.25rem;

  padding: 5.375rem 6% 0 6%;
}

.forgotPass-pin .welc-text-1 {
  font-size: 2.5rem;
  color: white;
  opacity: 1 !important;
  font-weight: 600;
}
.forgotPass-pin .welc-text-2 {
  font-size: 1.5rem;
  color: white;
  opacity: 1 !important;

  padding-top: 2rem;
}

.forgotPass-pin .right-side {
  padding: 0 3.4rem;
}
.forgotPass-pin .dp {
  text-align: center;
  margin-top: 11rem;
}

.forgotPass-pin .dp img {
  height: 5.6rem;
  width: 5.6rem;
}

.forgotPass-pin .start-text {
  margin-top: 1.8rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}

.forgotPass-pin .ran-text {
  font-size: 1rem;
  text-align: center;
  color: #7a7a7a;
}
.forgotPass-pin .info-box {
  margin-top: 2.2rem;
}

.forgotPass-pin .right-side .inp-1 {
  height: 3.1rem;
  border: 1px solid #d0dbe9;
  border-radius: 8px;
}

.forgotPass-pin .right-side .inp-2-out {
  margin-top: 1.8rem;
}

.forgotPass-pin .right-side .forg-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 21px;
  color: rgba(51, 66, 87, 0.7);
  margin-top: 0.5rem;
  text-align: right;
}
.forgotPass-pin .inp-pin-out {
  display: flex;
  gap: 34px;
  justify-content: space-around;
}

.forgotPass-pin .pin-inp {
  width: 3.2rem !important;
  height: 3.4rem !important;
  text-align: center;
  border: 1px solid #d0dbe9 !important;
  border-radius: 8px;
}
.forgotPass-pin .pin-inp:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 138, 0, 0.7) !important;
  border: #ff8a00;
  color: #ff8a00;
}
.forgotPass-pin .right-side .btn-out {
  text-align: center;
  margin-top: 2rem;
}

.forgotPass-pin .right-side .sign-btn {
  width: 80%;
  height: 3.4rem;
  font-weight: 500;
  font-size: 18px;
}

.forgotPass-pin .resnd-txt {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 2.2rem;
  text-align: center;

  color: #ff8a00;
}

.forgotPass-pin .right-side .wave img {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0rem;
}

.forgotPass-pin .contact {
  display: flex;
  gap: 1.25rem;
  position: absolute;
  left: 58px;
  bottom: 2.5rem;
  z-index: 99;
}

@media screen and (min-width: 1600px) {
  .forgotPass-pin .welc-box {
    width: 36rem;
    top: 6.25rem;
    padding-top: 4.375rem;
    padding-left: 5rem;
  }

  .forgotPass-pin .info-box {
    padding: 0 7.4rem;
  }
}
@media screen and (min-width: 2400px) {
  .forgotPass-pin .welc-box {
    width: 50rem;
    top: 6.25rem;
    padding-top: 4.375rem;
    padding-left: 4rem;
  }

  .forgotPass-pin .info-box {
    padding: 0 18.4rem;
  }
}

@media screen and (min-width: 3600px) {
  .forgotPass-pin .info-box {
    padding: 0 49.4rem;
  }
}

@media screen and (min-width: 5000px) {
  .forgotPass-pin .info-box {
    padding: 0px 73.4rem;
  }
}
@media screen and (max-width: 1300px) {
  .forgotPass-pin .form-select {
    padding: 0.375rem 0.25rem 0.375rem 1rem;
  }

  .forgotPass-pin .log-img {
    height: 150vh;
  }
}

@media screen and (max-width: 1200px) {
  .forgotPass-pin .dp {
    margin-top: 5rem;
  }
  .forgotPass-pin .welc-box {
    width: 27rem;
    top: 6.25rem;
    padding-top: 4.375rem;
    padding-left: 2rem;
  }
  .forgotPass-pin .form-select {
    padding: 0.375rem 0.25rem 0.375rem 1rem !important;
  }
  .right-side .line-bw {
    left: 24.5% !important;
  }
  .forgotPass-pin .inp-pin-out {
    display: flex;
    gap: 0px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 992px) {
  .d_none {
    display: none;
  }
  .forgotPass-pin .right-side {
    padding: 0 4.5rem;
  }
  .forgotPass-pin .wave-box {
    margin-top: 18rem;
  }
  .forgotPass-pin .inp-pin-out {
    display: flex;
    gap: 34px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .forgotPass-pin .right-side {
    padding: 0 3.5rem;
  }
  .forgotPass-pin .right-side .line-bw {
    left: 24.5%;
  }
}

@media screen and (max-width: 576px) {
  .right-side .line-bw {
    left: 32.5% !important;
  }

  .forgotPass-pin .inp-pin-out {
    display: flex;
    gap: 5px;
    justify-content: space-around;
  }
  .forgotPass-pin .contact {
    bottom: 1rem;
  }
  .forgotPass-pin .pin-inp {
    width: 2.5rem !important;
    height: 2.7rem !important;
  }
}

@media screen and (max-width: 400px) {
  .forgotPass-pin .right-side {
    padding: 0 1.5rem;
  }
  .forgotPass-pin .form-select {
    padding: 0.375rem 0.25rem 0.375rem 0.5rem;
  }
  .forgotPass-pin .wave-box {
    margin-top: 10rem;
  }

  .forgotPass-pin .contact {
    bottom: 0.5rem;
  }

  .forgotPass-pin .inp-pin-out {
    display: flex;
    gap: 5px;
    justify-content: space-around;
  }
}
.forgotPass-pin .row > * {
  flex-shrink: 0;

  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0) !important;
  padding-left: calc(var(--bs-gutter-x) * 0) !important;
  margin-top: var(--bs-gutter-y);
}

.forgotPass-pin .row {
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
