.login-page .log-img {
  height: 100vh;
  width: 100%;
}
.login-page .welc-box {
  width: 32rem;
  height: 27.375rem;
  position: absolute;
  opacity: 0.88;
  top: 9.5rem;

  padding: 7.375rem 6% 0 6%;
}

.login-page .welc-text-1 {
  font-size: 2.75rem;
  color: white;
  opacity: 1 !important;
  font-weight: 600;
}
.login-page .welc-text-2 {
  font-size: 1.6rem;
  color: white;
  opacity: 1 !important;

  padding-top: 2rem;
}

.login-page .right-side {
  padding: 0 3.4rem;
}
.login-page .dp {
  text-align: center;
  margin-top: 1rem;
}

.login-page .dp img {
  height: 5.6rem;
  width: 5.6rem;
}

.login-page .start-text {
  margin-top: 0.8rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}
.login-page .info-box {
  margin-top: 2.2rem;
}

.login-page .phone-inp {
  position: relative;
}
.login-page .form-label {
  margin-bottom: 0.75rem !important;
}

.right-side .lab-inp {
  color: #334257;
  font-size: 1rem;
}

.right-side .phn-select {
  border: 1px solid #d0dbe9 !important;
  height: 3.1rem;
  width: 100%;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: none !important;
  color: #334257;
  position: relative;
  box-shadow: none !important;
  border: 1px solid #d0dbe9 !important;
  border-right: none !important;
}

.login-page .form-select {
  padding: 0.375rem 0.25rem 0.375rem 1rem;
}
.right-side .inp-1 {
  height: 3.1rem;
  border: 1px solid #d0dbe9;
  border-radius: 8px;
  box-shadow: none !important;
  border: 1px solid #d0dbe9 !important;
}

.right-side .inp-2-out {
  margin-top: 1.8rem;
}

.right-side .forg-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 21px;
  color: rgba(51, 66, 87, 0.7);
  margin-top: 0.5rem;
  text-align: right;
}

.right-side .inp-2-out {
  position: relative;
}

.right-side .inp-2 {
  height: 3.1rem;
  background: #fff;
  border: 1px solid #d0dbe9;
  border-radius: 8px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;

  box-shadow: none !important;
  border: 1px solid #d0dbe9 !important;
  border-left: none !important;
}

.right-side .inp-2-out img {
  position: absolute;
  top: 57px;
  right: 28px;
}

.right-side .line-bw {
  position: absolute;
  color: #d0dbe9;
  top: 15px;
  left: 16.5%;
}
.right-side .btn-out {
  text-align: center;
  margin-top: 2rem;
}

.right-side .sign-btn {
  width: 87%;
  height: 3.4rem;
  font-weight: 500;
  font-size: 18px;
}

.login-page .right-side .wave img {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0rem;
}

.login-page .contact {
  display: flex;
  gap: 1.25rem;
  position: absolute;
  left: 58px;
  bottom: 1.5rem;
  z-index: 99;
}
@media screen and (min-width: 1600px) {
  .login-page .welc-box {
    width: 36rem;
    top: 6.25rem;
    padding-top: 4.375rem;
    padding-left: 5rem;
  }
}
@media screen and (min-width: 2000px) {
  .login-page .welc-box {
    width: 50rem;
    top: 6.25rem;
    padding-top: 4.375rem;
    padding-left: 4rem;
  }
}
@media screen and (max-width: 1600px) {
  .login-page .log-img {
    width: 100%;
  }
}
@media screen and (max-width: 1400px) {
  .login-page .start-text {
    margin-top: 0.8rem;
  }
  .login-page .info-box {
    margin-top: 1.2rem;
  }
  .right-side .phn-select {
    font-size: 0.9rem;
  }

  .login-page .form-select {
    padding: 0.375rem 0.25rem 0.375rem 0.75rem;
  }

  .login-page .welc-box {
    top: 7.5rem;
  }
}
@media screen and (max-width: 1300px) {
  .login-page .form-select {
    padding: 0.375rem 0.25rem 0.375rem 0.5rem;
  }

  .right-side .inp-2-out {
    margin-top: 0.8rem;
  }

  .right-side .inp-1 {
    height: 2.4rem;
  }

  .right-side .btn-out {
    margin-top: 1rem;
  }

  .right-side .sign-btn {
    height: 2.7rem;

    font-size: 16px;
  }
  .right-side .forg-text {
    font-size: 0.7rem;
  }

  .right-side .inp-2-out img {
    top: 50px;
  }
  .right-side .inp-2 {
    height: 2.4rem;
  }

  .right-side .phn-select {
    height: 2.4rem;
  }
  .right-side .line-bw {
    top: 8px;
  }
  .right-side .inp-2 {
    font-size: 0.7rem;
  }

  .right-side .inp-1 {
    font-size: 0.7rem;
  }
  .right-side .phn-select {
    font-size: 0.7rem;
  }
  .login-page .dp img {
    height: 3.6rem;
    width: 3.6rem;
  }
  .right-side .lab-inp {
    font-size: 0.8rem;
  }
  .login-page .form-label {
    margin-bottom: 0.3rem !important;
  }
  .login-page .contact {
    bottom: 1rem;
    z-index: 99;
  }
  .login-page .welc-box {
    top: 6.25rem;
  }

  .login-page .welc-box {
    top: 4.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .login-page .welc-box {
    width: 27rem;
    top: 3.25rem;
    padding-top: 5.375rem;
    padding-left: 3rem;
    height: 23.3rem;
  }
  .login-page .form-select {
    padding: 0.375rem 0.25rem 0.375rem 1rem !important;
  }
  .right-side .line-bw {
    left: 24.5%;
  }

  .login-page .log-img {
    width: 100%;
  }
  .right-side .inp-2-out img {
    top: 45px;
  }
  .login-page .welc-text-2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .d_none {
    display: none;
  }
  .login-page .right-side {
    padding: 0 4.5rem;
  }

  .login-page .wave-box {
    margin-top: 17rem;
  }
  .login-page .right-side {
    min-height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .login-page .right-side {
    padding: 0 3.5rem;
  }
  .right-side .line-bw {
    left: 24.5%;
  }

  .login-page .wave-box {
    margin-top: 17rem;
  }
}

@media screen and (max-width: 576px) {
  .right-side .line-bw {
    left: 32.5%;
  }
  .login-page .contact {
    bottom: 1rem !important;
  }
}

@media screen and (max-width: 400px) {
  .login-page .right-side {
    padding: 0 1.5rem;
    margin-top: 4.2rem;
  }
  .login-page .form-select {
    padding: 0.375rem 0.25rem 0.375rem 0.5rem !important;
  }

  .login-page .wave-box {
    margin-top: 12rem;
  }

  .login-page .contact {
    bottom: 0.4rem !important;
  }
}
.log .login-page .row > * {
  flex-shrink: 0;

  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0) !important;
  padding-left: calc(var(--bs-gutter-x) * 0) !important;
  margin-top: var(--bs-gutter-y);
}

.login-page .row {
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
